*::selection {
    background-color:Transparent;
    color:#000;
}

* {
    font-family: "Roboto-Thin";
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app {
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-flow: column;
}

.action-button {
    font-family: 'Rubik-Regular';
    border: solid black 2px;
    background-color: white;
    outline: 0;
    margin: 2.5% auto;
    width: 175px;
    /*width is absolute px value (not a percentage) bc flex boxes don't
    just work with percentages.
    potential workaround: http://jsfiddle.net/thirtydot/fPfvN/
    */
    padding: 2%;
    -webkit-transition: color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
    text-transform: uppercase;
}

.action-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.action-button:disabled {
    border: solid silver 2px;
    color: silver;
    cursor: default;
}

@media (min-width: 600px) {
  .wrapper {
      display: -webkit-flex;
      -webkit-flex-flow: row wrap;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      -webkit-align-content: center;
      width: 100%;
  }
}

@media (max-width: 600px) {
  .wrapper {
      display: -webkit-flex;
      -webkit-flex-flow: column wrap;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      -webkit-align-content: center;
      width: 100%;
  }
}

.left-flexbox {
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-flow: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-align-self: center;
    margin: auto;
    padding: 2%;
}

.right-flexbox {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -webkit-align-self: flex-start;
    padding: 2%;
}


.top-row {
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -webkit-align-self: center;
    margin: auto;
    width: 100%;
}

.step-name {
    font-family: "Roboto-Thin";
    font-size: 300%;
    margin-bottom: 5%;
}

.step-description {
    font-family: "Roboto-Thin";
    margin-bottom: 5%;
}

.sweep-button {
    font-family: 'Rubik-Regular';
    border: solid black 2px;
    margin: auto;
    background-color: white;
    width: 20%;
    padding: 2.5%;
    -webkit-transition: color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
}

.sweep-button:hover {
    background-color: black;
    color: white;
}

.progress-bar {
    -webkit-flex: 0 1 6%;
    border-bottom: 1px solid gray;
    margin: 1%;
    text-align: center;
}

.progress-bar-step {
    margin: 1%;
    cursor: pointer;
}

.nav-buttons-wrapper {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-align-self: flex-end;
    width: 100%;
}

#back-button {

}

#next-button {

}

#step-data {
    -webkit-flex: auto;
    overflow-y: auto;
}

#settings-drawer-wrapper {
    background-color: white;
    height: 100%;
    max-width: 15%;
    position: fixed;
    right: 0;
    top: 0;
    padding-left: 2%;
    padding-bottom: 0;
    padding-right: 3%;
    box-shadow: 10px 0px 8px 8px black;
    overflow-y: auto;
}

.setting-section-name:first-of-type {
    margin-top: 25%;
}

.setting-section-name {
    text-align: center;
    padding-bottom: 6px;
    border-bottom: 1px solid grey;
    margin-top: 15%;
}

#nav-toggle {
  position: fixed;
  right: 20px;
  top: 25px;
  z-index: 1;
  cursor: pointer;
  padding: 10px 35px 16px 0;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 1px;
  width: 25px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -7px;
}
#nav-toggle span:after {
  bottom: -7px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 200ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
}
#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
}

.settings-container {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
    width: 100%;
}

.settings-container-column {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    -webkit-justify-content: space-between;
    width: 100%;
}


* {
    border: none;
}

.adc-read-button {
    cursor: pointer;
    text-decoration: none;
}

.adc-control-wrapper {
    margin-right: 2%;
}

.settings-drawer-button {
    background: black;
    color: white;
    padding: 6px;
    display: inline-block;
    width: 46%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    cursor: pointer;
}


.settings-drawer-button:disabled {
    background-color: gray;
    cursor: default;
}

.motor-control {
    text-align: center;
}

.adc-controller {
    margin-bottom: 2%;
    margin-right: 5%;
}

.pid-enable-button, .adc-read-button {
    left: 30%;
}

.reset-afm-button, .get-resistances-button, .restore-defaults-button, .force-curve-button, .folder-picker-button {
    left: 25%;
    width: 50%;
}

.dropdown-option {
    padding-left: 2%;
    cursor: pointer;
}

.scan-view-selector-container {
    -webkit-align-self: flex-start;
    text-align: right;
}

.view-selector-button {
    cursor: pointer;
    padding-right: 10px;
    border-right: 5px solid transparent;
}

.save-directory {
    width: 90%;
    word-wrap: break-word;
}

.text-input {
    border-bottom: 1px solid gray;
}

.vertically-centered-column {
    -webkit-align-content: center;
    -webkit-align-self: center;
    -webkit-align-items: center;
}

#home-image {
    max-width: 80%;
    max-height: 80%;
}

.home-wrapper {
    height: 100%;
}

.canvasjs-chart-canvas {
    position: relative !important;
}

#approach-graph {
    height: 35%;
    width: 100%;
}

#z-fine-graph {
    height: 35%;
    width: 100%;
}

#heatmap-name {
    display: block;
}

.scan-top {
    margin-bottom: 10%;
}

.selected-scan-view {
    border-right: 5px solid #6DADE6;
}

.advanced-controls-toggle {
    cursor: pointer;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.dropbtn {
    cursor: pointer;
}

.approacher-status {
    text-align: center;
    font-size: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.motor-status, .approach-status {
    padding: 5px;
    border-radius: 2px;
}

.warning-background {
    background-color: lightblue;
}

.completion-background {
    background-color: lightgreen;
}

.bold-label {
    font-family: "Roboto-Medium";
}

.active-step {
    text-decoration: underline;
}

#heatmap1 {
    width: 384px;
    height: 384px;
    display: none;
}

.scan-image {
    width: 384px;
    height: 384px;
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

.scan-images-container {
    height: 384px;
    width: 384px;
    border: 1px solid gray;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
    /*CSS counters to number the steps*/
    counter-reset: step;
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.progress-bar-wrapper {
    text-align: center;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid silver;
    box-shadow: 0 1px 2px 0 silver;
    position: relative;
}

.home {
    position: absolute;
    height: 40px;
    width: 40px;
    background-size: 40;
    background-repeat: no-repeat;
    -webkit-filter: invert(100%);
    opacity: 0.6;
    left: 20px;
    top: 15px;
    background-image: url("qrc:/images/nGauge.png");
    border-radius: 50%;
    border: 2px solid silver;
    cursor: pointer;
}

#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 0.8em;
    width: 20%; /* bc there's 5 steps */
    float: left;
    position: relative;
    cursor: pointer;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 0.9em;
    color: #333;
    background: white;
    border-radius: 50%; /* make it a circle */
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 70%;
    height: 2px;
    background: silver;
    position: absolute;
    left: -35%;
    top: 9px;
    z-index: 0; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: rgba(113,165,216,0.8);
    color: white;
}


.setup-step-wrapper {
    width: 95%;
    margin-top: 20px;

}

.setup-step-wrapper img {
    width: 50%;
    width: 43%;
    height: 40%;
    float: left;
}

.setup-step-desc {
    float: left;
    margin-left: 10%;
}
