/*.sweep-button {
    font-family: 'Rubik-Regular';
    border: solid black 2px;
    margin: auto;
    background-color: white;
    margin-top: 2.5%;
    padding: 3%;
    -webkit-transition: color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
}

.sweep-button:hover {
    background-color: black;
    color: white;
}*/
* {
    font-family: "Roboto-Thin";
}

button {
    font-family: 'Rubik-Regular';
    border: solid black 2px;
    background-color: white;
    margin: 2.5% auto;
    width: 25%;
    padding: 2%;
    -webkit-transition: color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
    text-transform: uppercase;
}

button:hover {
    background-color: black;
    color: white;
}

.wrapper  {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    width: 100%;
}

.left-flexbox {
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-flow: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    height: 100%;
    margin: auto;
}

.right-flexbox {
    height: 100%;
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
}

.step-name {
    font-family: "Roboto-Thin";
    font-size: 300%;
    margin-bottom: 5%;
}

.step-description {
    font-family: "Roboto-Thin";
}

.sweep-button {
    font-family: 'Rubik-Regular';
    border: solid black 2px;
    margin: auto;
    background-color: white;
    width: 20%;
    padding: 2.5%;
    -webkit-transition: color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
}

.sweep-button:hover {
    background-color: black;
    color: white;
}

.progress-bar {
    top: 0;
    height: 6%;
    border-bottom: 1px solid gray;
    margin: 1%;
    text-align: center;
}

.progress-bar-step {
    margin: 1%;
}

.nav-buttons-wrapper {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-align-self: flex-end;
    width: 100%;
}

#back-button {
    
}

#next-button {

}