*::selection {
    background-color:Transparent;
    color:#000;
}

* {
    font-family: "Roboto-Thin";
}

.action-button {
    font-family: 'Rubik-Regular';
    border: solid black 2px;
    background-color: white;
    margin: 2.5% auto;
    width: 25%;
    padding: 2%;
    -webkit-transition: color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
    text-transform: uppercase;
}

.action-button:hover {
    background-color: black;
    color: white;
}

.wrapper  {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    width: 100%;
}

.left-flexbox {
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-flow: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-align-self: center;
    margin: auto;
    padding: 2%;
}

.right-flexbox {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -webkit-align-self: flex-start;
    padding: 2%;
}

.step-name {
    font-family: "Roboto-Thin";
    font-size: 300%;
    margin-bottom: 5%;
}

.step-description {
    font-family: "Roboto-Thin";
}

.sweep-button {
    font-family: 'Rubik-Regular';
    border: solid black 2px;
    margin: auto;
    background-color: white;
    width: 20%;
    padding: 2.5%;
    -webkit-transition: color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
}

.sweep-button:hover {
    background-color: black;
    color: white;
}

.progress-bar {
    top: 0;
    height: 6%;
    border-bottom: 1px solid gray;
    margin: 1%;
    text-align: center;
}

.progress-bar-step {
    margin: 1%;
    cursor: pointer;
}

.nav-buttons-wrapper {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-align-self: flex-end;
    width: 100%;
}

#back-button {
    
}

#next-button {

}

#settings-drawer-wrapper {
    background-color: white;
    height: 100%;
    max-width: 15%;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 2%;
    padding-bottom: 0;
    padding-right: 3%;
    box-shadow: 10px 0px 8px 8px black;
    overflow-y: scroll;
}

.setting-section-name:first-of-type {
    margin-top: 25%;
}

.setting-section-name {
    text-align: center;
    padding-bottom: 6px;
    border-bottom: 1px solid grey;
    margin-top: 15%;
}

#nav-toggle { 
  position: fixed;
  right: 2%;
  top: 2%;
  z-index: 1;
}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 1px;
  width: 25px;
  background: black;
  position: absolute;
  display: block; 
  content: '';
}
#nav-toggle span:before {
  top: -7px; 
}
#nav-toggle span:after {
  bottom: -7px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 200ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
}
#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
}

.settings-container {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;   
    -webkit-justify-content: space-between;
    width: 100%;
}

.settings-container-column {
    display: -webkit-flex;
    -webkit-flex-flow: column;   
    -webkit-justify-content: space-between;
    width: 100%;
}


* {
    border: none;
    outline: none;
}

.adc-read-button {
    cursor: pointer;
    text-decoration: none;
}

.adc-control-wrapper {
    margin-right: 2%;
}

.settings-drawer-button {
    background: black;
    color: white;
    padding: 6px;
    display: inline-block;
    width: 40%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    cursor: pointer;
}

.motor-control {
    text-align: center;
}

.adc-controller {
    margin-bottom: 2%;
    margin-right: 5%;
}

.pid-enable-button {
    left: 30%;
}